<div class="swiper-container container text-white d-flex">

    <div class="slider">

        <swiper [config]="config" class="text-center">
            <div class="slide">
                <h1>IMPRESSUM</h1>
                <p>
                    Mayuma G.m.b.H.<br>
                    Neubaugasse 20<br>
                    1010 Wien<br>
                    T: +43 3333 20302<br>
                    E: hello@mayuma.io<br>
                    www.mayuma.io<br>
                </p>
            </div>
            
            <div class="slide">
                <p>
                    Geschäftsführung: Julian Wurzer<br>
                    UID: ATU72534689<br>
                    Firmenbuchnummer: 476512 d<br>
                    Firmenbuchgericht: Landesgericht für ZRS Graz<br>
                    Behörde gem. ECG (E-Commerce Gesetz): Bezirkshauptmannschaft Hartberg-Fürstenfeld<br>
                    WKO-Eintrag Lt. G5 Abs. 1ECG <br>
                </p>
            </div>
        
            <div class="slide">
                <p>
                    Haftungshinweis:<br>
                    Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte 
                    externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber 
                    verantwortlich.
                </p>
            </div>
            
        
          </swiper>

    </div>
    
</div>

<a href="/" id="back-btn"><img src="assets/icon.back.svg" /></a>